.hero-floor {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-color: white; /* Set background color to black */

  /* Additional styles, if necessary */
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-container {
  height: 100%;
  width: 100%;

  h1 {
    font-size: 50px;
    color: lime;
  }
}
